 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @import "tailwindcss";

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 @media (max-width: 768px) {
   .custom-grid {
     grid-template-columns: 1fr;
   }
 }

 @media (min-width: 769px) {
   .custom-grid {
     grid-template-columns: repeat(4, 1fr);
   }
 }

 @font-face {
   font-family: 'Euclid';
   src: url('../public/font/Euclid\ Circular\ A\ Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }

 body {
  font-family: 'Euclid'
}