 @import "tailwindcss";

 @media (max-width: 768px) {
   .custom-grid {
     grid-template-columns: 1fr;
   }
 }

 @media (min-width: 769px) {
   .custom-grid {
     grid-template-columns: repeat(4, 1fr);
   }
 }

 @font-face {
   font-family: 'EuclidMedium';
   src: url('../public/font/Euclid\ Circular\ A\ Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }



 @font-face {
  font-family: 'EuclidLight';
  src: url('../public/font/Euclid\ Circular\ A\ Light.ttf') format('truetype');
}



@font-face {
  font-family: 'EuclidBold';
  src: url('../public/font/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
}




@font-face {
  font-family: 'EuclidRegular';
  src: url('../public/font/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}
 
@theme{
  --font-euclidMedium: "EuclidMedium";
  --font-euclidLight:"EuclidLight";
  --font-euclidBold:"EuclidBold";
  --font-euclidRegular:"EuclidRegular"
 
 }
 @media (min-width: 2560px) {
  .min-h-screen {
      min-height: 50vh; /* or any custom value you prefer */
  }
}